@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
    margin-top: 100px;
    background-image: url('../Images/mountains.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
}
.section{
	width: 100%;
	min-height: 75vh;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
    border: solid rgb(23, 33, 86) 5px;
    border-radius: 10px;
    padding: 30px;
    background-color: #ddd;
    box-shadow: 20px 20px 10px;
}
.image-section{
	float: right;
	width: 40%;
    border: solid rgb(152, 27, 48) 5px;
    background-color: #ddd;
    padding-right: 54px;
    border-radius: 10px;
    box-shadow: 20px 20px 10px;
}
.image-section img{
	width: 110%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#9f0101;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}

/* SLIDESHOW */
.mySlides {
display: none;
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
background-color: black;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 20px;
width: 20px;
margin: 0 7px;
margin-bottom: 19px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.dots-section {
    margin-left: 40px;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@media screen and (max-width: 768px){
        .container{
        width: 80%;
        display: block;
        margin:auto;
        padding-top:50px;
    }
    .content-section{
        float:none;
        width:100%;
        display: block;
        margin:auto;
    }
    .image-section{
        float:none;
        width:100%;
        
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin:auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button{
        text-align: center;
    }
    .content-section .content .button a{
        padding:9px 30px;
    }
}
