.home, main{
    height: 100%;
    /* margin-top: 10rem; */
}

.navclass, header h1, header h2 {
    width: 100%;
    text-align: center;
    /* text-shadow: 2px 2px 2px gray; */
}

header h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 3.5em;
    margin-top: 3em;
}

header h2 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 2em;
    margin-bottom: 130px;
}

main h3 {
    position: relative;
    top: -80px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Satisfy', cursive;
    font-style: italic;
    text-shadow: 2px 2px 2px lightblue;
}

main {
    display: grid;
    grid-template: repeat(5, 1fr)/ repeat(2, 1fr);
    grid-gap: 75px 50px;
    padding: 2em 7em;
}

/* T-Shirt Front */
#image1 {
    background-image: url('../Images/tfront.PNG');
    width: 650px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* T-Shirt Back */
#image1:hover {
    background-image: url('../Images/tback.PNG');
    width: 650px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Tote Bag Front */
#image2 {
    background-image: url('../Images/totefront.PNG');
    width: 600px;
    height: 671px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Tote Bag Back */
#image2:hover {
    background-image: url('../Images/toteback.PNG');
    width: 600px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Cap */
#image3 {
    background-image: url('../Images/cap.PNG');
    width: 650px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Apron */
#image4 {
    background-image: url('../Images/apron.PNG');
    width: 650px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Baby Blanket Front */
#image5 {
    background-image: url('../Images/babyblanketfront.PNG');
    width: 650px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Baby Blanket Back */
#image5:hover {
    background-image: url('../Images/babyblanketback.PNG');
    width: 650px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Pillow Front */
#image6 {
    background-image: url('../Images/pillowfront.PNG');
    width: 650px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Pillow Back */
#image6:hover {
    background-image: url('../Images/pillowback.PNG');
    width: 650px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Grocery Bag Front */
#image7 {
    background-image: url('../Images/grocerybagfront.PNG');
    width: 650px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Grocery Bag Back */
#image7:hover {
    background-image: url('../Images/grocerybagback.PNG');
    width: 650px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Baby Bib Front */
#image8 {
    background-image: url('../Images/babybibfront.PNG');
    width: 650px;
    height: 650px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Baby Bib Back */
#image8:hover {
    background-image: url('../Images/babybibback.PNG');
    width: 650px;
    height: 650px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Clock */
#image9 {
    background-image: url('../Images/clock.png');
    width: 650px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Watch */
#image10 {
    background-image: url('../Images/watch.PNG');
    width: 650px;
    height: 653px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 300px;
}

.options {
    margin-top: 670px;
    text-align: center;
}

button {
    width: 140px;
    height: 40px;
    background-color: rgb(41, 249, 41);
    font-weight: bold;
}

#purchase {
    position: relative;
    left: 600px;
    top: -100px;
}

@media only screen and (max-width: 760px) {

    main {
        display: grid;
        grid-template: repeat(11, 1fr)/ repeat(1, minmax(1px,100%));
        /* grid-template: repeat(11, 1fr)/ repeat(1, minmax(1,1fr)); */
    }

    header h1, header h2 {
        width: 950px;
    }
}