html{
    width: 100%;
}

body{
    width: 100%;
    /* background-color: rgb(253, 255, 255); */
    background-color: rgb(252, 250, 252);
    font-family: 'Fira Sans', sans-serif;
    color: gray;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}

body img{
    box-shadow: 5px 5px 5px rgb(249, 252, 252);
}

nav img, footer img{
    box-shadow: 0px 0px;
}

img{
    border-radius: 20px;
}

/* Opening img */
#div2{
    display: flex;
    justify-content: center;
}

#class00, .class0 img {
    height: 400px;
}

#slides img {
    display: none;
}

/* Center, one-line paras */
.class1 {
    text-align: center;
    color: rgb(24, 177, 129);
    font-weight: 900;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5em;
    margin-bottom: 30px;
}

h1{
    /* margin-left: 75px; */
    font-size: 200%;
    color: black;
    font-family: 'Yeseva One', cursive;
    margin-top: 2em;
}

h2{
    color: black;
    font-family: 'Architects Daughter', cursive;
}

/* Canada on world map */
.class2{
    /* float: right;
    position: relative;
    top: -50px; */
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}

/* Location left para */
.class3{
    padding-top: 50px;
    display: flex;
    margin-bottom: 50px;
    padding-left: 75px;
}

/* Left img */
.class4{
    /* float: left; */
    margin-left: 75px;
    margin-right: 100px;
    margin-bottom: 40px;
}

/* Right para */
.class5{
    width: 100%;
    padding-top: 40px;
    display: flex;
    margin-bottom: 50px;
}

.class5 p{
    width: 94%;
}

/* Right img */
.class6{
    /* float: right; */
    /* position: relative; */
    /* left: 100px; */
    /* padding-left: 100px; */
    margin-left: 100px;
    margin-right: 40px;
}

/* Left para */
.class7{
    width: 100%;
    padding-top: 40px;
    display: flex;
    padding-bottom: 50px;
    padding-left: 75px;
}

.class7 p {
    width: 90%;
}

/* Left img */
.class8{
    /* float: left; */
    /* margin-left: 75px; */
    margin-right: 100px;
    margin-top: 90px;
}

/* Right Para */
.class9{
    width: 100%;
    display: flex;
    padding-left: 75px;
    margin-bottom: 10em;
}

.class9 p{
    width: 94%;
}

/* Right Img */
.class10{
    /* float: right; */
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 40px;
}

.class9 li{
    color: gray;
    list-style-type: none;
    /* list-style-image: url('/Images/1076826.png') ; */
}

.class9 li::before {   
    content: '';   
    display: inline-block;   
    height: 20px;   
    width: 20px;    
    background-size: 20px;   
    background-image: url('../Images/1076826.png') ;
    background-repeat: no-repeat;   
    margin-right: 10px;
    background-position: center center;
    vertical-align: middle;
}

/* #div1{
    min-width: 1360px;
    max-width: 1400px;
} */

.class1:hover, .class3:hover, .class5:hover, .class7:hover, .class9:hover{
    background-color: rgb(254, 195, 254);
    border: 3px solid rgb(128, 0, 109);
}

@media only screen and (max-width: 950px) {
    body{
        font-size: 0.6em;
    }

    #class00, .class0 img{
        height: 50%;
        width: 50%;
    }
    
    .class10{
        display: none;
    }   

    #div1{
    min-width: 250px;
    }

    .class2 {
        margin-left: 50px;
        margin-top: 15px;
    }

    .class3 {
        margin-bottom: 0px;
        margin-left: 25px;
        padding-top: 10px;
    }

    .class4 {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 15px;
    } 

    .class6 {
        margin-left: 25px;
        position: relative;
        top: 15px;
    } 

    .class7 {
        margin-left: 25px;
        padding-top: 0px;
    } 

    .class8 {
        margin-left: 0px;
        margin-right: 25px;
        margin-top: 20px;
    }

    .class9 {
        margin-left: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    
}
