/* All these class can be overwritten by your choice */

/* main header */
.primary_head {
  font-size: 2.1em;
  font-family: century-gothic, sans-serif;
  font-weight: 600;
  color: #0d0f38;
  margin-bottom: 0;
}

/* secondary header */
.secoundary_head {
  font-size: 1.8em;
  font-family: century-gothic, sans-serif;
  font-weight: 100;
  color: #0d0f38;
  margin-top: 0;
  padding-top: 0;
}

/* theriary header */
.theriary_head {
  font-family: century-gothic, sans-serif;
  font-weight: 600;
  color: #0d0f38;
  font-size: 1em;
}

/* paragraph */
.paragraph {
  font-family: Verdana, sans-serif;
  color: #0d0f38;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 30px;
}

/* primary button */
.primary_button {
  color: white;
  border: none;
  background: #d95e5e;
  padding: 1.4em 2.4em;
  border-radius: 30em;
  font-size: 0.8em;
  box-shadow: 0px 6px 23px #0404046e;
}

/* secondary_botton */
.secoundary_botton {
  color: white;
  border: none;
  background: #74ad54;
  padding: 1.4em 2.4em;
  border-radius: 30em;
  font-size: 0.8em;
  box-shadow: 0px 6px 23px #0404046e;
}
