@media only screen and (min-width: 760px) {
.theriary_head {
  color: white;
  margin-left: 2rem;
}
footer .footer {
  /* position: absolute; */
  left: 0;
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  color: white;
  padding: 0.6em 0em 3.2em;
}
footer img{
  height:250px;
  width:310px
}
ul {
  color: white;
  line-height: 2em;
}
li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.66);
  font-family: century-gothic, sans-serif;
  font-weight: 600;
  font-size: 0.8em;
}
footer section {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

a:hover,
a:focus {
  color: rgb(85, 161, 136);
}

.fa-facebook::before {
  color: white;
  font-size: 25px;
  padding-right: 21px;
  vertical-align: sub;
}
.fa-youtube::before {
  color: white;
  font-size: 25px;
  padding-right: 15px;
  vertical-align: sub;
}
.fa-instagram::before {
  color: white;
  font-size: 25px;
  padding-right: 15px;
  vertical-align: sub;
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.66);
  font-family: century-gothic, sans-serif;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 20px;
}
.overlay{
  visibility: hidden;
}
.opencalss{
  visibility: hidden;
}
.copyright{
  color: rgba(255, 255, 255, 0.649); text-align: center; margin-top: -3rem;
}
}
/* -----mobile view ----- */
@media only screen and (max-width: 760px) {
  .theriary_head {
    color: white;
    margin-left: 2rem;
  }
  footer img {
    height:0;
    width:0;
  }
  footer .footer {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6em 0em 3.2em;
  }
  
  ul {
    color: white;
    line-height: 2em;
  }
  li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.66);
    font-family: century-gothic, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
  }
  footer section {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  
  a:hover,
  a:focus {
    color: rgb(85, 161, 136);
  }

  .fa-facebook::before {
    color: white;
    font-size: 25px;
    padding-right: 21px;
    vertical-align: sub;
  }
  .fa-youtube::before {
    color: white;
    font-size: 25px;
    padding-right: 15px;
    vertical-align: sub;
  }
  .fa-instagram::before {
    color: white;
    font-size: 25px;
    padding-right: 15px;
    vertical-align: sub;
  }
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.66);
    font-family: century-gothic, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 20px;
  }
  .copyright{
    color: rgba(255, 255, 255, 0.649); text-align: center; margin-top: -40px;
  }
  
  }