
/* -----desktop view ----- */

@media only screen and (min-width: 760px) {
#mainMenu {
  display: flex;
  padding: 1.5em;
  position: fixed;
  box-shadow: 0px 6px 23px #0404046e;
  z-index: 99;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  padding: 0.6em;
}
nav a {
  text-decoration: none;
  color: rgb(8, 7, 12);
  font-family: century-gothic, sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  padding: 2em;
}
nav img {
  margin-left: 4rem;
  margin-right: 15rem;
  vertical-align: middle;
}
.fa-angle-down:before {
  padding-left: 3px;
  vertical-align: middle;
  font-size: 28px;
}
#mainMenu img{
  height:80px;
   width:220px;
}
.menus{
  float: right;
  display: contents;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  border-radius: 20PX;
  box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.416);
  z-index: 999;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 20PX;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
 
  border: none;
  outline: none; 
  text-decoration: none;
  color: rgb(8, 7, 12);
  font-family: century-gothic, sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  padding: 1.7em 2em;
  background-color: white;
}
#main2 , .navoption{
  visibility: collapse;
  height: 0;
}
.sidenav{
  visibility: collapse;
  height: 0;
}
}

/* -----mobile view ----- */
@media only screen and (max-width: 760px) {
  #mainMenu{
    visibility:collapse;
    height: 0;
    width: 0;
  }
  #mainMenu img {
    width: 0;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: -190px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main2 {
    transition: margin-left .5s;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.navoption{
  font-size:45px;cursor:
  pointer;position:fixed;
   border-radius: 10px; 
   padding-left: 2px;
   padding-right: 2px;
   color:black;
   z-index: 9999;

}


/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 10px 6px 10px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 200px; 
  font-size: 20px; 
  padding: 0px 10px;
}


.active {
  background-color: green;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}
}
  
