/* ----- desktop view ------- */
html {
  width: fit-content;
  margin-left: 10px;
  margin-right: 13px;
  font-family: cursive;
  background-image: url(../images/moose/moose-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  flex-direction: row-reverse;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intropara {
  flex-basis: 50em;
}
.box {
  flex-basis: 20em;
}
.distribution {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 32px;
}
.distpara {
  background-color: #ff0100f5;
  border-radius: 9px;
  color: white;
}
.habitat {
  display: flex;
  padding-top: 50px;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 26px;
}
.habitatpara {
  background-color: #a4b066;
  border-radius: 9px;
}
.population {
  display: flex;
  align-items: center;
  padding: 50px 5px;
  column-gap: 32px;
}
.poppara {
  background-color: #9f7950e3;
  border-radius: 9px;
  color: beige;
}
img {
  width: 540px;
  height: 310px;
  border-radius: 9px;
}
#mainimage {
  margin: auto;
  width: 730px;
  height: 390px;
}
#moosepopulation {
  width: 400px;
  height: 600px;
}
.diet {
  display: flex;
  align-items: center;
  column-gap: 32px;
  flex-direction: row-reverse;
}
.dietpara {
  background-color: #8bbd35d4;
  border-radius: 9px;
}
.mating {
  display: flex;
  align-items: center;
  column-gap: 32px;
  padding: 50px 5px;
}
.matingpara {
  background-color: #5d849fe8;
  border-radius: 9px;
  color: lightcyan;
}
main {
  margin-top: 8em;
}
h1 {
  font-size: 4em;
  font-weight: 550;
  color: #0d0f38;
  padding-top: 18px;
  text-align: center;
  text-shadow: 2px 3px #0d0f388a;
  margin-bottom: 0;
  margin-top: 10px;
}

h1 + p {
  color: #0d0f388a;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  font-size: 1.5em;
}

.box ul {
  list-style-type: none;
  padding: 25px 0;
}
p {
  font-size: 20px;
  padding: 2px 30px;
}
.facts ul {
  list-style-image: url(../images/moose/moose-icon.jpg);
  padding: 0px 4em 19px;
}
.facts li {
  color: #0d0f38;
  font-size: 20px;
  padding: 8px 10px;
}
h2 {
  font-size: 2em;
  font-weight: 700;
  color: #052b09;
  margin-top: 0;
  padding-top: 10px;
  padding-left: 1em;
}
h3 {
  font-weight: 600;
  color: #4b291f;
  font-size: 22px;
  padding-left: 30px;
}
.heading {
  font-size: 17px;
  font-weight: bold;
  color: #212357cc;
}
.value {
  color: #eb1f1fd9;
  font-size: 20px;
  padding-bottom: 10px;
}

/* ----- mobile view ------- */
@media screen and (max-width: 760px) {
  .section1 {
    padding-top: 30px;
    flex-wrap: wrap;
  }
  .intro,
  .distribution,
  .habitat,
  .population,
  .diet,
  .mating {
    flex-wrap: wrap;
    justify-content: center;
  }
  img {
    padding-top: 3.5em;
  }
  .value {
    font-size: x-large;
    text-align: center;
  }
  .heading {
    font-size: larger;
    text-align: center;
  }
}
