/* ----- desktop view ------- */
html {
  font-family: Verdana, sans-serif;
  background-image: url(../images/moose/moose-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body {
  margin: 0 auto;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  flex-direction: row-reverse;
}
#fullContent p {
  font-size: 17px;
  padding: 2px 30px;
  line-height: 30px;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#intropara {
  flex-basis: 50em;
}
#intropara p {
  font-size: 18px;
  line-height: 30px;
}
.box {
  flex-basis: 20em;
}
.distribution,
.population,
.mating {
  display: flex;
  align-items: center;
  column-gap: 23px;
  padding: 30px 10px;
}
.habitat,
.diet {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 23px;
  padding: 30px 10px;
}
.distpara {
  background-color: #ff0100f5;
  border-radius: 9px;
  color: white;
}
.habitatpara {
  background-color: #a4b066;
  border-radius: 9px;
}
.poppara {
  background-color: #9f7950e3;
  border-radius: 9px;
  color: beige;
}
img {
  width: 540px;
  height: 310px;
  border-radius: 9px;
}
#mainimage {
  width: 730px;
  height: 390px;
}
#moosepopulation {
  width: 400px;
  height: 600px;
}
.dietpara {
  background-color: #8bbd35d4;
  border-radius: 9px;
}
.matingpara {
  background-color: #5d849fe8;
  border-radius: 9px;
  color: lightcyan;
}
main {
  margin-top: 8em;
}
h1 {
  font-size: 4em;
  font-weight: 550;
  color: #0d0f38;
  padding-top: 18px;
  text-align: center;
  text-shadow: 2px 3px #0d0f388a;
  margin-bottom: 0;
  margin-top: 10px;
}

h1 + p {
  color: #0d0f388a;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  font-size: 1.5em;
}

.box ul {
  list-style-type: none;
  padding: 25px 0;
}
#fullContent h2 {
  font-size: 2em;
  font-weight: 700;
  color: #052b09;
  padding-left: 1em;
}
#fullContent h3 {
  font-weight: 600;
  color: #4b291f;
  font-size: 22px;
  padding-left: 30px;
}
.heading {
  font-size: 17px;
  font-weight: bold;
  color: #212357cc;
}
.value {
  color: #eb1f1fd9;
  font-size: 20px;
  padding-bottom: 10px;
}
#facts h3 {
  cursor: pointer;
  margin: 10px 4em;
  background-image: linear-gradient(to left, rgb(122 115 103 / 0%), #509f58);
  height: 2em;
  border-radius: 8px;
  padding-left: 9px;
  padding-top: 3px;
}
#facts a {
  color: black;
  text-decoration: none;
}
#facts div {
  display: none;
}
#facts div.open {
  display: block;
}
#facts img {
  height: 25px;
  width: 25px;
  border-radius: 0;
  padding-right: 12px;
  padding-top: 5px;
}
#facts p {
  margin: 0 6em;
}

/* ----- mobile view ------- */
@media screen and (max-width: 760px) {
  .section1 {
    padding-top: 30px;
    flex-wrap: wrap;
  }
  .intro,
  .distribution,
  .habitat,
  .population,
  .diet,
  .mating {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 20px 15px;
  }
  #fullContent img {
    margin-top: 2em;
  }
  #mainimage {
    width: 540px;
    height: 310px;
    padding-top: 0;
    margin-left: 0;
  }
  #facts img {
    margin-top: 0;
  }
  .value {
    font-size: x-large;
    text-align: center;
  }
  .heading {
    font-size: larger;
    text-align: center;
  }
  main {
    margin-top: 0;
  }
}
